#timesMinuteContainer {position: relative;}
  #timesMinuteContainer h5  {
    padding: 4px 0 2px 0;
    -webkit-font-smoothing: antialiased;
    font-family: "nyt-karnak-display-130124",arial,helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #68635D;
  }
  #timesMinuteContainer a:hover {text-decoration: none;}
    #timesMinuteContainer h5 span {
      margin-left: -3px;
      color: black;
    }
    #timesMinuteContainer h5 .timestamp {
      margin-left: 1px;
      color: #A81817;
    }
  #timesMinuteContainer ul li {margin-bottom: 4px; color: #909090;}
    #timesMinuteContainer ul li.active {color: #000;}
      #timesMinuteContainer ul li,
      #timesMinuteContainer ul li.active {
        -webkit-transition: color .3s ease-out;
        transition:         color .3s ease-out;
      }
    #timesMinuteContainer ul li img {opacity: 0.25;}
    #timesMinuteContainer ul li.active img {opacity: 1.0;}
      #timesMinuteContainer ul li img, 
      #timesMinuteContainer ul li.active img {
        -webkit-transition: opacity .3s ease-out;
        transition:         opacity .3s ease-out;
      }
  #timesMinuteContainer .thumbnail {
    position: relative;
    margin-right: 11px;
    height: 91px; width: 163px;
  } 
    #timesMinuteContainer .thumbnail img {width: 163px; height: auto; border-bottom: 1px solid #FFF;}
    #timesMinuteContainer .thumbnail .vidOverlay {
      background: url("http://graphics8.nytimes.com/packages/images/nytdesign/2012/playheads.png") no-repeat scroll -210px -450px rgba(0, 0, 0, 0);
      position: absolute;
      width: 33px;
      height: 30px;
      bottom: 12px;
      left: 8px;
    }
      #timesMinuteContainer a:hover .thumbnail .vidOverlay {
        width: 100px;
        background-position: 0 -450px;
        -webkit-transition: width .3s ease-out;
        transition:         width .3s ease-out;
      }

  #timesMinuteContainer hr {
    color: #333;
    display: none;
    background-color: #333;
    height: 3px;
    left: 0px;
    margin: 0px;
    position: absolute;
    top: 92px;
    width: 54px;
  }
    #timesMinuteContainer hr.hr_1 {left: 0px;}
    #timesMinuteContainer hr.hr_2 {left: 54px;}
    #timesMinuteContainer hr.hr_3 {left: 109px;}
      #timesMinuteContainer hr.hr_1,
      #timesMinuteContainer hr.hr_2,
      #timesMinuteContainer hr.hr_3 {
        -webkit-transition: left .3s ease-out;
        transition:         left .3s ease-out;
      }
/* aColumn hacks */
  .aColumn #timesMinuteContainer {
    max-height: 150px;
  }
  .aColumn #timesMinuteContainer h5 {
    position: absolute;
    top: 0;
    padding-top: 0;
  }
  .aColumn #timesMinuteContainer .thumbnail {
    border-bottom: 4px solid #CCC;
    margin-top: 20px;
  }
    .aColumn #timesMinuteContainer .thumbnail img {width: 163px; height: auto;}
    .aColumn #timesMinuteContainer .thumbnail.runaroundLeft {
      margin-bottom: 3px;
      padding-bottom: 0px;
    }
  .aColumn #timesMinuteContainer hr {
    display: block;
  }
  .aColumn #timesMinuteContainer ul li {
    display: none;
  }
    .aColumn #timesMinuteContainer ul li.active {
      display: block;
      color: #004276;
    }

/* a+b Column hacks */
  #spanABBottomRegion #timesMinuteContainer .lede { 
    display: inline-block;
    float: left;
    margin: 0px;
    width: 114px;
  }
    #spanABBottomRegion #timesMinuteContainer h5 {
      font-size: 16px;
      padding: 0px;
    }
    #spanABBottomRegion #timesMinuteContainer .lede p {
      color: #666;
      font: normal 11px/13px Arial, Helvetica, sans-serif;
      margin-top: 5px;
    }
  #spanABBottomRegion #timesMinuteContainer .lede h5 .timestamp {
    background: url('http://graphics8.nytimes.com/images/multimedia/icons/video_icon.gif') no-repeat 0px 0px;
    display: block;
    font-size: 10px;
    line-height: 14px;
    margin: 0px;
    padding-left: 17px;
  }
  #spanABBottomRegion #timesMinuteContainer a .thumbnail .vidOverlay,
  #spanABBottomRegion #timesMinuteContainer a:hover .thumbnail .vidOverlay {opacity: 0;}
    #spanABBottomRegion #timesMinuteContainer a:hover li:hover .vidOverlay {
      opacity: 1.0;
      width: 100px;
      background-position: 0 -450px;
      -webkit-transition: opacity .3s ease-out;
      transition:         opacity .3s ease-out;
    }
  #spanABBottomRegion #timesMinuteContainer li {
    display: inline-block; 
    margin-left: 6px;
    vertical-align: top;
    width: 124px;
  }
  #spanABBottomRegion #timesMinuteContainer .thumbnail {
    float: none;
    clear: none;
    margin: 0px;
    width: 124px; height: 70px;
  }
  #spanABBottomRegion #timesMinuteContainer .thumbnail img {width: 124px; height: 70px;}

