#navigation_tophat_container {background: #000 none; padding-bottom: 0; zoom: 1;}
#navigation_tophat_primary ul.nav {margin-left: 0;}
#navigation_tophat_container #navigation_mainB_wrap ul.nav01, #navigation_tophat_container #navigation_mainB_wrap ul.nav {margin-left: 0;}
#navigation_tophat_container #navigation_tophat_primary .sneak_peek {display:none!important;}