#navigation_tophat_primary {height: 2.4em; width: 100%; z-index: 10;}
#navigation_tophat_primary ul.nav {margin-left: 0; padding-bottom: 11px;}
#navigation_tophat_primary .sneak_peek .promo_collection ul {margin-left: 0px;}
#navigation_tophat_container {z-index: 100; position: relative; padding-bottom: 8px; zoom: 1;}
#body_wrap {z-index: 1; position: relative;}

#navigation_tophat_primary h3 a {padding: 14px 16px !important;}

#navigation_tophat_container hr {bottom: 2.65em; z-index: 5;}
.homepage #navigation_tophat_container {padding-bottom: 7px;}
#navigation_tophat_primary li:hover {visibility: inherit; /* fixes IE7 'sticky bug' */}


div.travel.trv.main_page #header_search_input {height:24px;}
div.travel.trv.main_page #tophat {text-align: center;}