/* $Id: styles.css 134459 2013-11-06 21:38:21Z shawn.gao $
/css/0.1/screen/build/sectionfront/business/styles.css
(c)2006 - 2010 The New York Times Company  */

/*@import url(/css/0.1/screen/section/business/common.css);
@import url(/css/0.1/screen/section/business/2.0/masthead.css);
@import url(/css/0.1/screen/common/alerts.css);
@import url(/css/0.1/screen/common/modules/latestNewsModule.css);*/

/* Breaking News Alert */

#spanABCRegion .alertsContainer {
  margin-bottom: 16px;
  padding: 0;
  width: auto;
}

.wideA .closing,
.wideB .closing,
.spanLayout .closing {
  padding-bottom: 18px;
}

.wideA .firstColumnGroup,
.wideB .firstColumnGroup,
.ledeStory,
.ledePhoto {
  margin-bottom: 0;
}

.ledeStory h1 {
  font-size: 2.4em;
  line-height: 1.083em; /*26px*/
}

#spanABTopRegion .bColumn .ledeStory h2 {
  font-size: 1.7em;
}

.ledeStory .byline {
  margin-top: 5px;
}

.ledeStory .summary {
  font-size: 1.5em;
  line-height: 1.333em; /*20px*/
}

#spanABTopRegion .bColumn .ledeStory .summary {
  font-size: 1.2em;
}

.splitAB .bColumn div.first .story {
  background: transparent url(/images/section/business/narrow_divider.gif) no-repeat center top;
  margin-bottom: 9px;
  padding-top: 13px;
}

.splitAB .bColumn div.first .singleRuleThk + .story {
  background-image: none;
  padding-top: 0;
}

.splitAB .bColumn .story h3 {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.1429em; /* 16px */
}

.singleRule {
  padding-top: 10px;
}

.singleRuleThk {
  border-top: 3px solid #ccc;
  padding-top: 6px;
  margin-bottom: 9px;
}

.aColumn .headlinesOnly li {
  line-height: 1.084em; /* 13px */
  margin-bottom: 8px;
}

.aColumn .headlinesOnly li h6 {
  font-weight: bold;
  line-height: 1.084em; /* 13px */
}

.smallThumb,
.bColumn .thumbnail img {
  height: 50px;
  width: 50px;
}

/* CNBC Videos Module */

.CNBCVideos h6 {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  background: transparent url(/images/icons/multimedia/video_icon.gif) no-repeat left;
  padding-left: 18px;
}

.CNBCVideos .timestamp {
  margin-left: 18px;
}

/* handle column/columnGroup widths in cColumn tab modules */

.cColumn .tabContent .subColumn-2 .column {
  width: 156px;
  margin-right: 10px;
}

.cColumn .tabContent .subColumn-2 div.last,
.cColumn .tabContent .subColumn-2 .lastColumn {
  width: 154px;
  margin-right: 0;
}

.cColumn .columnGroup .tabContent .columnGroup.fullWidth,
.cColumn .columnGroup .tabContent .columnGroup.fullWidth .columnGroup,
.cColumn .columnGroup .tabContent .columnGroup.fullWidth .column.last .columnGroup,
.cColumn .columnGroup .tabContent .columnGroup.fullWidth .lastColumn .columnGroup { /* override fullWidth hack here as markup is a render style */
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Override bullet list for rss assets in tabbedCollectionModule */

.tabContent ul.latestHeadlines li {
  background-image: none;
  padding-left: 0;
}

h4#wsodHeader.sectionHeader,
#mostPopWidget h4 {
font-size: 1.4em; /* 14px */
}

.NYT5Style .masthead-buttons-container {
  position: relative;
  float: left;
}

.NYT5Style .masthead-tools {
  position: relative;
  float: right;
}

.NYT5Style #branding {
  margin-top: 0;
}

.NYT5Style #masthead {
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

.NYT5Style #masthead h2 {
  font-size: 47px;
  margin: 8px 0 11px 0;
}

.NYT5Style #masthead #date {
  display: block;
  width: 55%;
  margin: 0 0 8px 220px;
}

.NYT5Style #masthead #date #lastUpdate {
  color: #000;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  padding-left: 8px;
  margin-left: 5px;
  border-left: 1px solid #ccc;
}

.NYT5Style #masthead #date p {
  font-size: 10px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-weight: 500;
}

.NYT5Style .splitAB .bColumn {
  width: 290px;
  margin-left: 10px;
}

.NYT5Style .splitAB .aColumn {
  width: 300px;
}

.NYT5Style .splitAB .aColumn,
.NYT5Style .splitAB .bColumn {
  background-image: url(/images/layout/dbl-rule.png);
  background-repeat: repeat-x;
  padding-top: 10px;
}

.NYT5Style .splitAB .aColumn,
.NYT5Style .splitAB .bColumn {
  margin-right: 10px;
}

.NYT5Style .splitAB .bColumn .singleRuleThk {
  display: none;
}

.NYT5Style .aColumn .story {
  width: 300px;
}

.NYT5Style #spanABTopRegion .aColumn {
  margin-right: 10px;
}

.NYT5Style .aColumn .ledeStory {
  border-top: 0px;
  margin-top: 10px;
  padding-top: 10px;
}

.NYT5Style .bColumn .ledePhoto  {
  margin-left: 3px;
  width: 395px;
}

.NYT5Style div.closing .aColumn {
  padding-right: 0;
}

.NYT5Style .splitAB .bColumn div.first .story {
  border-top: none;
}

.NYT5Style .aColumn .columnGroup.first .story + .story,
.NYT5Style .aColumn .columnGroup.first .ledeStory + .story {
  border-top: 1px solid #f2f2f2;
  margin-top: 12px;
  padding-top: 14px;
}

.NYT5Style .column {
  float: none;
}

.NYT5Style .abColumn div.insetH,
.NYT5Style .abColumn div.columnGroup,
.NYT5Style .abColumn div.fullWidth .columnGroup {
  margin-left: 0;
}

.NYT5Style #SpanABMiddleRegion {
  margin-bottom: 10px;
  padding-right: 10px;
}

.NYT5Style #SpanABMiddleRegion .sectionHeader {
  margin-top: 0;
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
  text-transform: uppercase;
}

.NYT5Style .latestNewsModule .moduleHeaderLg {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 7px;
  font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
  text-transform: uppercase;
  font-weight: bold;
}

.NYT5Style .aColumn .story:nth-of-type(1),
.NYT5Style .bColumn .story:nth-of-type(1) {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}

/* Override refers color for business SF for new SpanABLedeSplit design */
#spanABTopRegion .module .refer li {
  color: #004276;
}
