/* $Id: styles.css 133560 2013-10-21 23:23:34Z lpierfelice $
   /css/0.1/screen/build/sectionfront/technology/styles.css
   (c)2006 - 2009 The New York Times Company

@import url(/css/0.1/screen/common/sectionfront.css);
@import url(/css/0.1/screen/common/columnGroupSubColumns.css);
/* subNavigation imports would still be required on tech front/articles for backward compatibility. Please do not take if off 
@import url(/css/0.1/screen/common/subNavigation.css);
@import url(/css/0.1/screen/section/technology/personaltech/subNavigation.css);
@import url(/css/0.1/screen/common/modules/blogrunner.css);
@import url(/css/0.1/screen/common/util/tooltip.css);
@import url(/css/0.1/screen/common/modules/directoryM.css);
@import url(/css/0.1/screen/common/modules/rss.css);
@import url(/css/0.1/screen/section/technology/modules/cnetMostPopular.css);
@import url(/css/0.1/screen/section/technology/ads.css);
@import url(/css/0.1/screen/thirdparty/opinionlab/styles.css);
@import url(/css/0.1/screen/thirdparty/logos/bylinelogos.css);
@import url(/css/0.1/screen/globalEdition/common.css);
@import url("/css/0.1/screen/section/technology/modules/bitsPromos.css");
@import url(/css/0.1/screen/common/modules/scuttlebot.css);

/* Start styles for technology SF */
.articleStory {
  font-family: georgia,"times new roman",times,serif;
  font-weight: bold;
  font-size: 1.2em; /* 12px */
  color: #004276;
}

.gadgetHead {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em; /*13px*/
  font-weight: bold;
  padding-bottom: 6px;
}

.gadgetHead a {
  color: #000000;
}

.gadgetWiseText {
  padding-bottom: 2px;
}

.cColumn  ul.headlinesOnly li {
  background: transparent url(/images/misc/bullet4x4.gif) no-repeat scroll left 0.45em;
  padding: 0 0 0 8px;
  margin-bottom: 0;
}

.cColumn  ul.headlinesOnly li h6 {
  font-weight: bold;
}
/* End styles for technology SF */
/* StandardThumb 2 Column styles*/
.cColumn #standardThumbTwoCol .subColumn-2 {
  background: transparent url(/images/layout/vertical_rule.gif) repeat-y scroll 175px 50%;
}

#standardThumbTwoCol .subColumn-2 div.column .columnGroup {
  margin-right: 7px !important;
}

#standardThumbTwoCol .subColumn-2 div.last .columnGroup {
  margin-left: 7px !important;
  margin-right: 9px !important;
}

#standardThumbTwoCol .subColumn-2 div.last  {
  width: 175px;
}

.NYT5Style .pageHeaderWithLabel span a {
  display: none;
}

/* This rule is added to override style in technology pages for masthead */
#masthead .globalEditionPageHeader {
  top: 0;
}

