body div#articleText, div#fullArtTxt, div.blogText, div#articleGraphs {
	font-size:	20px;
	line-height: 27px;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	
}
#container div.article #Col1 #headTools #tools .plus a {width:5px;height:5px;padding:0 4px; font:14px arial;color:#fff;font-weight:bold;margin:0 0 0 2px;background-color:#e5e5e5;cursor:default;}
#container div.article #Col1 #headTools #tools .plus a:hover {background-color:#e5e5e5;}
#container div.article #Col1 #headTools #tools .plus a:focus {-moz-outline-style: none;}