/* $Id: styles.css 133776 2013-10-23 22:45:41Z lpierfelice $
   /css/0.1/screen/build/sectionfront/travel/styles.css
   (c)2006 - 2010 The New York Times Company  */

/*@import url(/css/0.1/screen/common/sectionfront.css);
@import url(/css/0.1/screen/common/subNavigation.css);
@import url(/css/0.1/screen/section/travel/subNavigation.css);
@import url(/css/0.1/screen/common/columnGroupSubColumns.css);
@import url(/css/0.1/screen/common/insideNYTimes.css);
@import url(/css/0.1/screen/globalEdition/common.css);
@import url(/css/0.1/screen/common/nyt5/sectionfront-features.css);*/

/* layout */
.bcColumn {
  background-color: transparent;
}

.cColumn { /* guarantees cColumn doesn't push down abColumn */
  float: right;
}
/* end layout */

/* region */
#SpanBCTopRegion {
  background-color: #fff;
}
/* end region */

/* start refers */
.travelSingleRule {
    clear: both;
    border-top: 1px solid #ffcc99;
    margin-bottom: 12px;
    padding-top: 8px;
    background-image: none !important;
}

.referLg {
  font-size: 1.4em;
  line-height: 1.1429em; /* 16px */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.travelGuide {
  background-image: url(/images/section/travel/icons/travel_guide_icon.gif);
  padding-left: 22px;
  height: 17px;
}
/* end refers */

/* start styles for Featured Destination Promo */

.destinationGuides .subColumn-3 .column {
  width: 175px;
  margin: 0 8px 0 0;
}

.travelModuleHeader {
  font-size: 1.2em;
  font-family: arial,helvetica,sans-serif;
  margin-bottom: 8px;
}
/* end styles for Featured Destination Promo */

.expediaModule {
  display: none;
}

.travelDealsHeader,
.travelDeals {
  display: none;
}
