.magenta {
	background-color: #e20074;
}

.relContainer {
	position: relative;
	width: 300px;
	height: 250px;
	overflow: hidden;
	-ms-overflow-x: hidden;
	top:0px;
	left:0px;
}


img {
	border: 0px;
}

#bg-exit {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;

}