/* $Id: styles.css 83036 2011-11-25 16:10:52Z vikramraj_bhattraj $
   /css/0.1/screen/build/sectionfront/world/styles.css
   (c)2006 - 2009 The New York Times Company  */ 
 
/*@import url(/css/0.1/screen/common/sectionfront.css);
@import url(/css/0.1/screen/common/columnGroupSubColumns.css); 
@import url(/css/0.1/screen/globalEdition/common.css); 
*/
.headlineOnlyWithHeader h5 {
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  font-family: tk-nyt-cheltenham-small-caps-light,georgia,serif;  
}

.bColumn .columnGroup.first:first-child + .doubleRule {
  background: none;
  padding: 0;
}
